<app-chart-panel
  *ngIf="revenueDataset$ | async as revenueDataset"
  [buttonCaption]="'CHARTS.REVENUE.BUTTON.CAPTION' | translate"
  [chartDescription]="'CHARTS.REVENUE.CHART.DESCRIPTION' | translate"
  [chartLabels]="chartLabels$ | async"
  [dataSet]="revenueDataset"
  [summary]="revenueSummary$ | async"
  [summaryCaption]="'CHARTS.REVENUE.SUMMARY.CAPTION' | translate"
  [title]="'CHARTS.REVENUE.TITLE' | translate"
  [type]="ChartType.Line"
  currency="USD"
  icon="$"
  name="revenue"
></app-chart-panel>

<app-chart-panel
  *ngIf="installationsDataset$ | async as installationsDataset"
  [buttonCaption]="'CHARTS.INSTALLATIONS.BUTTON.CAPTION' | translate"
  [chartDescription]="'CHARTS.INSTALLATIONS.CHART.DESCRIPTION' | translate"
  [chartLabels]="chartLabels$ | async"
  [dataSet]="installationsDataset"
  [summary]="installationsSummary$ | async"
  [summaryCaption]="'CHARTS.INSTALLATIONS.SUMMARY.CAPTION' | translate"
  [title]="'CHARTS.INSTALLATIONS.TITLE' | translate"
  [type]="ChartType.Bar"
  icon="&darr;"
  name="installations"
></app-chart-panel>
